@charset "utf-8";
/* CSS Document */
/*子网页*/
.bgpic{width:762px;height: 0 auto;position:relative;top:0px;float:right;right:80px;}
.page{width:1200px;height:900px;position:relative;top:125px;overflow:hidden;}