@charset "utf-8";
/* CSS Document */

*{margin:0px;padding:0px;}/*body顶格*/
.body {background-color: #999;}
.body1{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	color: #D6D6D6;
}
.bodyl{width:1200px;background:#333;float:left;height:3000px;}.logo{width:150px;height:150px;}
